.backgroundstyle {
    background-image: url('../img1/maunen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: fixed; Để hình nền cố định khi cuộn */
    position: relative;  /* Đảm bảo khối div không bị cố định */
    /* top: 0;
    left: 0; */
    width: 100%;
    min-height: 100vh; /*Thay vì đặt height: 1400px;, bạn nên dùng min-height: 100vh; để đảm bảo chiều cao của .backgroundstyle bao phủ toàn bộ chiều cao màn hình và có thể co giãn dựa trên nội dung.*/
    /* opacity: 0.5;  */
    z-index: 1; /* Đưa hình nền xuống dưới */
  } 
  @media (max-width: 768px) {
    .backgroundstyle {
        height: 380vh; /* Thay đổi chiều cao cho thiết bị có kích thước màn hình nhỏ */
    }
}

@media (max-width: 480px) {
    .backgroundstyle {
        height: 350vh; /* Điều chỉnh cho điện thoại di động */
    }
}
.in{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;  /*mới thêm Vân Giữa căn chỉnh hình ảnh */
  padding: 20px;
}
.cantrai{
  margin-left: 140px;
  margin-top: 20px;
}

/*Phần thêm Vân 
.cantrai {
  flex: 1 1 300px; /* Đảm bảo hình ảnh có thể co giãn nhưng tối đa là 300px */
/*  margin-left: 140px;
  margin-top: 20px;

}
*/

@media (max-width: 768px) {
  .cantrai {
    flex: 1 1 100%; /* Trên màn hình nhỏ, hình ảnh chiếm toàn bộ chiều ngang */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cantrai {
    flex: 1 1 48%; /* Trên màn hình trung bình, mỗi hình ảnh chiếm khoảng 48% chiều ngang */
  }
}

@media (min-width: 1025px) {
  .cantrai {
    flex: 1 1 30%; /* Trên màn hình lớn, mỗi hình ảnh chiếm khoảng 30% chiều ngang */
  }
}

/* Đảm bảo hộp hover có kích thước linh hoạt */
.box-hover img {
  max-width: 100%;
  height: auto;
}